:root {
    --primary: #b31123;
    --secondary: #e2fa07;
    --text: #fff2f4;
    --highlight: #e2fa07;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: none;
    text-decoration: none;
    font-family: Roboto;
    color: var(--text);
    line-height: 1.6;
    font-size: 1rem;
    /* outline: 1px solid red; */
    /* list-style-type: none; */
}

body{
    background-color: #030303;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section:not(:nth-child(1)){
    border-top: 1px solid ; 
}

#hero{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

header{
    width: 80%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

#brand{
    font-size: 1.5rem;
    color: var(--secondary);
    font-family: Roboto;
    font-weight: bold;
    flex: 1;
}

nav{
    flex:3;
}

nav ul{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}

#contact{
    
    margin-inline: auto;
    

}

#contact div a span {
    font-size: smaller;
    text-transform: uppercase;
    font-family: Oswald;
    font-weight: 100;
    letter-spacing: .7mm;
}

#contact * img {
    width: 12px;
}

#title{
    width: 80%;
    margin-inline: auto;
    font-size: 10rem;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px #fff2f4;
    opacity: .25;
    padding-block: 5rem;
}

main {
    background-color: #030303;
    width: 50%;
    margin-inline: auto;
    padding-block: 2rem;
}

p {
    text-align: justify;
    padding-block: 1rem;
    font-weight: 100;
    font-family: Roboto;
}

p::first-letter{
    color: var(--highlight);
    font-size: 1.5rem;
}

.highlight{
    color: var(--highlight)
}

.title {
    font-size: 2rem;
    letter-spacing: 2mm;
    margin: 1rem 0;
}

#skills>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#skills .highlight {
    padding-top: 1rem;
}


#soft-skills ol li {
    margin-bottom: 1rem;
}

small {
    
    font-weight: 300;
    font-size: small;
}

#education {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
}


#education ul li {
    margin-bottom: 1rem;
}

#bottom-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
#bottom-contact>div>a{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;

}
#bottom-contact>div img{
    display: inline-block;
    height: 100%;
    margin-right: .25rem;
}

